<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统修改管理员</title>
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <!-- index.css -->
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
    <!-- view -->
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <h4>修改管理员账号</h4>
                </div>
                <div class="text item">
                    <el-form  size="small" :model="ruleForm2" label-position="top" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="ruleForm2.username"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="pass">
                            <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="checkPass">
                            <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="选择用户组" prop="region">
                            <el-select v-model="ruleForm2.region" placeholder="请选择用户">
                                <el-option label="超级管理员" value="superAdmin"></el-option>
                                <el-option label="普通管理员" value="admin"></el-option>
                                <el-option label="会员" value="admin"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                             <el-button type="success" plain @click="submitForm('ruleForm2')">提交</el-button>
                        </el-form-item>
                    </el-form>

                </div>
            </el-card>
        </el-main>
    </div>
    <!-- 引入jquery -->
    <script src="./javascripts/jquery.js"></script>
    <!-- 引入vue -->
    <script src="./javascripts/vue.min.js"></script>
    <!-- 引入elementUI -->
    <script src="./javascripts/elementUI.js"></script>
    <script>
        new Vue({
            el: '#app',//挂载view
            data() {

                var validatePass2 = (rule, value, callback) => {
                    if (value !== this.ruleForm2.pass) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    ruleForm2: {
                        pass: '',
                        checkPass: '',
                        username: '',
                        region: '',
                        u_id:'',
                        oldPwd :''
                    },
                    rules2: {
                        region: [
                            { required: true, message: '请选择用户', trigger: 'change' }
                        ],
                        pass: [
                            { required: true, message: '密码不能为空', trigger: 'blur' },
                            { min: 6, max: 32, message: "密码在6~32位之间", trigger: 'blur' }
                        ],
                        checkPass: [
                            { min: 6, max: 32, message: "确认密码在6~32位之间", trigger: 'blur' },
                            { required: true, message: '确认密码不能为空', trigger: 'blur' },
                            { validator: validatePass2, trigger: 'blur' }
                        ],
                        username: [
                            { required: true, message: '用户名不能为空', trigger: 'blur' },
                            { min: 6, max: 18, message: "用户名在6~18位之间", trigger: 'blur' }
                        ]
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 1.获取到表单的内容
                            let formData = this.ruleForm2;
                            // console.log(formData);
                            //2.发送ajax请求
                            $.post('/users/update', formData, (result) => {
                                //5,接收后端的数据
                                if (result.ok) {
                                    alert(result.msg);
                                    location.href = "member_list.html";
                                } else {
                                    alert(result.msg);
                                    return false;
                                }       
                            })

                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }
            },
             //挂载实例完的钩子函数
            mounted() {
                //获取id
                let index = location.href;
                //http://localhost:8080/member_update.html?id=3
                index = index.split("=")[1];//分割成数组,取到3
                //发送ajax,接收数据回填函数
                $.post('/users/updateList', { index }, (result) => {
                    result = result[0];
                    // console.log(result);
                    this.ruleForm2.username = result.userName;
                    this.ruleForm2.checkPass = result.userPwd;
                    this.ruleForm2.pass = result.userPwd;
                    this.ruleForm2.region = result.userGroup;
                    this.ruleForm2.u_id = result.u_id;
                    this.ruleForm2.oldPwd = result.userPwd;
                })
            }
        })
    </script>
</body>

</html>